<a href="https://colab.research.google.com/github/chayanthithan/python-course/blob/main/Ai_tutorial_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world')

Hello world

In [ ]:
print(56)
# to print integer

56

In [ ]:
print(2.5)
# to print float

2.5

In [ ]:
print('Hello')
# to print string

Hello

In [ ]:
age=20
print('i am ', age ,'years old')
# ,(comma) used to concat

i am  20 years old

In [ ]:
# variables
# rules
  # first letter can be _,letter
  # number should not be at first

In [ ]:
height=59;
weight=30;
fist_name='chayankumar'

In [ ]:
# data types
# Boolean
  # True
  # False

# List
# list can be hold different data types
# []
numbers=[1,2,3.5,4,5]
student_details=['chayan',28,59.5]
print(numbers)
print(student_details)

# to add into list
student_details.append('kumar')
print(student_details)

# to get particular index
print('first name is',student_details[0])

[1, 2, 3.5, 4, 5]
['chayan', 28, 59.5]
['chayan', 28, 59.5, 'kumar']
first name is chayan

In [ ]:
# tuple
# it can't modify
# it also can be store different type of data
# ()


# dictionary
# Key and Value
# {}
details={'name':'chayan','age':24,'height':'6 feet'}
print(details)
# to get by key
print('age:',details['age'])

# to add new key value
details['degree']='BICT'
print(details)

{'name': 'chayan', 'age': 24, 'height': '6 feet'}
age: 24
{'name': 'chayan', 'age': 24, 'height': '6 feet', 'degree': 'BICT'}

In [ ]:
# set
names=('chayan','arun','jeyam','suresh')
print(names)

('chayan', 'arun', 'jeyam', 'suresh')

In [ ]:
# condition statement
age = 18
if age >= 18:
  print('eligible for vote')
else:
  print('not eligible for vote')

eligible for vote

In [ ]:
# get input from user and print the result
marks=int(input('Enter Marks Here : '));
if marks >= 75:
  print('Result: A')
elif marks < 75 and marks >= 65:
  print('Result: B')
elif marks < 65 and marks >= 55:
  print('Result: C')
elif marks < 55 and marks >= 35:
  print('Result: S')
else:
  print('Result: E')

Enter Marks Here : 89
Result: A

In [ ]:
# for loop
# for element in array_variable_name
numbers=[1,2,3,4,56]
for element in numbers:
  print(element)

for element in numbers:
  if(element%2 == 0):
    print('Even numbers')
  else:
    print('Odd numbers');

1
2
3
4
56
Odd numbers
Even numbers
Odd numbers
Even numbers
Even numbers

In [ ]:
lists=[23,45,32,56]
for i in range(10,20): # value will be 10 to 19
  print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:
# while